.App {
  text-align: center;
}

.header{
  background-color: gainsboro;
  padding: 10px;
  font-size: 12px;
}

.App input{
  margin: auto;
  width: 30%;
}

.coursecard{
  width: 25%;
  margin: auto;
  padding-bottom: 20px;
}

.courselist{
  list-style-type: none;
  text-align: left;
  margin: 0px;
  padding-left: 0px;
  border: #282c34;
  border-style: solid;
  border-bottom: 0px;
}

.courselist a,a:visited{
  text-decoration: none;
  color: black;
}
.courselist a:hover{
  color: black;
}

.courselist li{
  border-bottom: 3px solid;
}

.formbox{
  margin: auto;
  padding: auto;
  
}

input{
  text-align: center;
}

.floatbuttonArea{
  position: absolute;
  display: inline-block;
  right: 25px;
  bottom: 25px;
}

.floatbutton{
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
}