.App {
  text-align: center;
}

.App input{
  margin: auto;
  width: 30%;
}

/* Course List*/
.courselist{
  list-style-type: none;
  text-align: left;
  margin: 0px;
  padding-left: 0px;
  border: #282c34;
  border-style: solid;
  border-bottom: 0px;
}

.courselist a,a:visited,a:hover{
  text-decoration: none;
  color: black;
}
/* Course Page End */

.floatbutton{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  background-color: rgb(218, 240, 240);
  margin-bottom: 5px;
}

.floatbutton i{
  font-size: 16px;
}